:root {
  --dark-mode-bg : #131516;
  --light-mode-bg : rgba(249, 250, 251, 1);
}

html {
  background-color: var(--light-mode-bg);
}

#Menu > summary {
    list-style: none;
  }

#Menu > summary::-webkit-details-marker {
    display: none;
  }

  .swiper-pagination-bullet {
    padding: 0.5rem;
  }